*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;

}

a{
  text-decoration: none;
  color: var(--color-font);

}

button{
  background-color: unset;
  border: unset;
  cursor: pointer;

}

.notAvailableCurrency{
  color: var(--color-font-error);
  font-size: 0.6em;
  font-weight: lighter;

  padding-left: calc(var(--padding) / 4);

}

/***************** Fonts START */
/* Raleway */
@font-face{
  font-family: Raleway;
  src:url("fonts/Raleway.ttf");

}
/***************** Fonts END */
