*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;

}

a{
  text-decoration: none;
  color: var(--color-font);

}

button{
  background-color: unset;
  border: unset;
  cursor: pointer;

}

.notAvailableCurrency{
  color: var(--color-font-error);
  font-size: 0.6em;
  font-weight: lighter;

  padding-left: calc(var(--padding) / 4);

}

/***************** Scrollbar START */
/* width */
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track{
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #555;
}
/***************** Scrollbar END */


/***************** Fonts START */
/* Raleway */
@font-face{
  font-family: Raleway;
  src:url("fonts/Raleway.ttf");

}

/* Roboto Condensed */
@font-face{
  font-family: "Roboto Condensed";
  src:url("fonts/RobotoCondensed.ttf");

}

/* Roboto */
@font-face{
  font-family: "Roboto";
  src:url("fonts/Roboto.ttf");

}
/***************** Fonts END */
