:root{
  --z-minus: -1;
  --z-cover: 1;
  --z-header: 2;
  --z-pop-ups: 3;

  --color-background: rgba(255, 255, 255, 1);
  --color-shadow: rgba(0, 0, 0, 0.3);
  --color-cover: rgba(57, 55, 72, 0.22);
  --color-nav-a: #1D1F22;
  --color-nav-a-active: #5ECE7B;

  --shadow-box: 0px 0px 20px -10px var(--color-shadow);

  --padding: 20px;
  --gap: 20px;
  --radius: 0px;
  --motion-range: -10px;

  --header-height: 80px;

  --transition-velocity: 200ms;
  /* ttf = transition-timing-function */
  --ttf: ease-in-out;

}

body{
  background-color: var(--color-background);

  font-size: 16px;
  font-family: 'Raleway';

}
body > div#root > header{
  background-color: var(--color-background);

  height: var(--header-height);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;

  position: relative;
  z-index: var(--z-header);

}

body > div#root > header > nav{
  display: flex;
  flex-direction: row;
  align-items: center;

}

body > div#root > header > nav > a{
  color: var(--color-nav-a);
  text-transform: uppercase;
  font-weight: 400;

  padding: 30px 16px;
  border-block-end: transparent solid 2px;

}
body > div#root > header > nav > a:hover{
  color: var(--color-nav-a-active);
  font-weight: 600;

}
body > div#root > header > nav > a.active{
  color: var(--color-nav-a-active);
  font-weight: 600;

  border-block-end-color: currentcolor;

}

body > div#root > header > section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap);

}

body > div#root > header > section > currency-switcher{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

}
body > div#root > header > section > currency-switcher > img{
  height: 0.4em;

  cursor: pointer;

  transition:var(--transition-velocity) var(--ttf);
  transition-property: transform;

}
body > div#root > header > section > currency-switcher > img.active{
  transform: rotate(180deg);

}
body > div#root > header > section > currency-switcher > currencies-pop-up{
	pointer-events: none;

  background-color: var(--color-background);

  opacity: 0;
  box-shadow: var(--shadow-box);

  padding: var(--padding) 0px;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: calc(var(--header-height) - 1.5em);
  transform: translate(-0.6em, var(--motion-range));
  z-index: var(--z-minus);

  transition: var(--transition-velocity) var(--ttf);
  transition-property: transform, opacity;

}
body > div#root > header > section > currency-switcher > currencies-pop-up.active{
  pointer-events: all;
  opacity: 1;
  transform: translate(-0.6em, 0px);
  z-index: var(--z-pop-ups);

}
body > div#root > header > section > currency-switcher > currencies-pop-up > button{
  font-size: 1em;
  height: 45px;
  padding: 0px var(--padding);

  transition: var(--transition-velocity) var(--ttf) background-color;

}
body > div#root > header > section > currency-switcher > currencies-pop-up > button:where(:hover, .active){
  background-color: #EEEEEE;

}

body > div#root > header > section > cart-overlay{}
body > div#root > header > section > cart-overlay > span{
  position: relative;

}
body > div#root > header > section > cart-overlay > span > img{
  cursor: pointer;
}
body > div#root > header > section > cart-overlay > span > span{
  --size: 25px;

  background-color: black;

  color: white;
  font-weight: bold;
  /* font-size: calc( 70 * var(--size) / 100); */

  display: grid;
  place-items: center;

  height: var(--size);
  width: var(--size);

  border-radius: 50%;

  position: absolute;
  top: calc( -0.7 * var(--size));
  right: calc( -0.7 * var(--size));

}
body > div#root > header > section > cart-overlay > cart-pop-up{
  pointer-events: none;

  background-color: var(--color-background);

  opacity: 0;
  overflow-y: scroll;

  box-shadow: var(--shadow-box);

  max-height: calc(80vh - var(--header-height));
  padding: var(--padding);

  position: absolute;
  top: var(--header-height);
  right: var(--header-height);
  transform: translateY(var(--motion-range));
  z-index: var(--z-minus);

  transition: var(--transition-velocity) var(--ttf);
  transition-property: transform, opacity;

}
body > div#root > header > section > cart-overlay > cart-pop-up.active{
  pointer-events: all;
  opacity: 1;
  transform: translateY(0px);
  z-index: var(--z-pop-ups);

}

body > div#root > cover-element{
  background-color: var(--color-cover);
  opacity: 0;

  height: 100vh;
  width: 100vw;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: var(--z-minus);

  transition: var(--transition-velocity) var(--ttf);
  transition-property:opacity;

}
body > div#root > cover-element.active{
  opacity: 1;
  z-index: var(--z-cover);

}
